@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

.card {
  width: 270px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.topbar{
position: absolute;
z-index: 90;
width: 100%;
height: 8%;
background-color: #203239;
display: flex;
align-items: center;
}

h1{
  color: rgb(255, 255, 255);
  margin-left: 30px;
  font-family: 'Fredericka the Great'
}

label {
  width: max-content;
  color:#7F7F80;
  font-size: 17px;
  border-bottom: 0.5px solid #7F7F80;
  margin: 3px 0;
}

.desc {
  font-size: 16px;
}

.star {
  color: #efca66;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}
form {
  width: 270px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.texts{
  color:#2b6684
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #bc3737;
  cursor: pointer;
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;}

.button {
  border: none;
  padding: 10px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Barrio';
  margin-left: 10px;
}

.button:focus {
  outline: none;
}
.logout {
  background-color: #fe464e;
}
.logout:hover {
  background-color: #c45d62;
}
.login {
  background-color: #952424;
  margin-right: 10px;
}
.login:hover {
  background-color: #d46974;
}
.register {
  background-color: #6b819e;
}
.register:hover {
  background-color: #819cbe;
}

.shareImgContainer{
  position: relative;
  
}
.shareImg{
  width: 100%;
  object-fit: cover;
}
.shareCancelImg {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  opacity: 0.7;
}

.shareOption{
  border-bottom: none;
}
.photo{
  position: relative;
}
.image{
  width: 100%;
}